<!DOCTYPE html>
<html>
    <head>
        <title>Vue Guide - List Rendering</title>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="item in items">
                    {{ item.message }}
                </li>
            </ul>
            <ul>
                <li v-for="(item, index) in items">
                    {{ parentMessage }} - {{ index }} - {{ item.message }}
                </li>
            </ul>
            <div v-for="item of items"></div>
            <ul>
                <template v-for="item in items">
                    <li>{{ item.message }}</li>
                    <li class="divider"></li>
                </template>
            </ul>
            <ul>
                <li v-for="value in object">
                    {{ value }}
                </li>
            </ul>
            <ul>
                <li v-for="(value, key) in object">
                    {{ key }} : {{ value }}
                </li>
            </ul>
            <ul>
                <li v-for="(value, key, index) in object">
                    {{ index }}. {{ key }} : {{ value }}
                </li>
            </ul>
            <div>
                <span v-for="n in 10">{{ n }}</span>
            </div>
            <custom-component v-for="(item, index) in items" :item="item" :index="index"></custom-component>
            <div>
                <input v-model="newTodoText" @keyup.enter="addNewTodo" placeholder="Add a todo">
                <ul>
                    <li is="todo-item" v-for="(todo, index) in todos"
                        :title="todo.text" @remove="todos.splice(index, 1)"
                    >
                </ul>
            </div>
            <ul>
                <li v-for="todo in todos" v-if="!todo.isComplete">
                    {{ todo }}
                </li>
            </ul>
            <ul v-if="shouldRenderTodos">
                <li v-for="todo in todos">
                    {{ todo }}
                </li>
            </ul>
            <div v-for="item in items" :key="item.id">{{ item }}</div>
            <div>
                <span v-for="n in evenNumbers">{{ n }}</span>
            </div>
            <div>
                <span v-for="n in even(numbers)">{{ n }}</span>
            </div>
        </div>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="./app.js"></script>
    </body>
</html>
