<!DOCTYPE html>
<html>
    <head>
        <title>Vue Guide - Form Input Bindings</title>
    </head>
    <body>
        <div id="app">
            <div>
                <input v-model="message" placeholder="edit me">
                <p>Message is: {{ message }}</p>
            </div>
            <div>
                <span>Multiline message is:</span>
                <p style="white-space: pre">{{ multilineMessage }}</p>
                <br>
                <textarea v-model="multilineMessage" placeholder="add multiple lines"></textarea>
            </div>
            <div>
                <input type="checkbox" id="checkbox" v-model="checked">
                <label for="checkbox">{{ checked }}</label>
            </div>
            <div>
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
                <span>Checked names: {{ checkedNames }}</span>
            </div>
            <div>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>Picked: {{ picked }}</span>
            </div>
            <div>
                <select v-model="selected">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Selected: {{ selected }}</span>
            </div>
            <div>
                <select v-model="multipleSelected" multiple>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <br>
                <span>Selected: {{ multipleSelected }}</span>
            </div>
            <div>
                <select v-model="dynamicSelected">
                    <option v-for="option in options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <br>
                <span>Selected: {{ dynamicSelected }}</span>
            </div>
            <div>
                <input type="checkbox" v-model="toggle" :true-value="a" :false-value="b">
                <br>
                <span>Toggle: {{ toggle }}</span>
            </div>
            <div>
                <input type="radio" v-model="pick" :value="a">
                <br>
                <span>Pick: {{ pick }}</span>
            </div>
            <div>
                <select v-model="boundSelected">
                    <option :value="{ number: 123 }">123</option>
                </select>
                <br>
                <span>Selected: {{ boundSelected && boundSelected.number }}</span>
            </div>
            <div>
                <input v-model.lazy="lazy">
                <p>Lazy: {{ lazy }}</p>
            </div>
            <div>
                <input v-model.number="age" type="number">
                <p>Age: {{ age }}</p>
            </div>
            <div>
                <input v-model.trim="trim">
                <p>Trim: '{{ trim }}'</p>
            </div>
        </div>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="./app.js"></script>
    </body>
</html>
